
@{
    ViewBag.Title = "Home Page";
}



<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://nannuphideaway.com.au/wp-content/uploads/2013/02/header31-1200x480.jpg" alt=""/>  
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://merlelor.com/wp-content/uploads/2012/12/STP632121-1200x480-11.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://hdnaturepictures.com/wp-content/uploads/2013/06/Beauty-Sunset-Beach-Moment-1200x480.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://farm8.staticflickr.com/7044/6947147881_a4315735b4_o.jpg" alt="" />
      <div class="carousel-caption">
        <p>Lions</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>

</div><!-- /.carousel -->
<div class="row-fluid">
    <div class="span4">
        <h3>Header 1</h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s  
        <br /> <br /><button class="btn btn-primary" type="button" style="text-align:center">See more</button>
    </div>
    <div class="span4">
        <h3>Header 2</h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
        <br /> <br /><button class="btn btn-primary" type="button" style="text-align:center">See more</button>
    </div>
    <div class="span4">
        <h3>Header 3</h3>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            <br /> <br /><button class="btn btn-primary" type="button" style="text-align:center">See more</button>
    </div>
</div>
 <br /><div class="border-div"></div><br />
<ul id="slide" class="quotes">
    <li>Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.
<b>Thomas Edison</b> </li>
     <li>Being busy does not always mean real work. The object of all work is production or accomplishment and to either of these ends there must be forethought, system, planning, intelligence, and honest purpose, as well as perspiration. Seeming to do is not doing.
<b>Thomas Edison</b></li>
    <li>Life is what happens while you are busy making other plans.
<b>John Lennon</b> </li>
</ul>
