@model BeatyOfNature.Models.WildCat

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>@Html.DisplayFor(model => model.Title)</legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="400px"/>
        </div>
        <div class="span8">
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
</fieldset>
