<br /><div class="border-div"></div>
    <div class="row">
        <div class="span12">
            <div class="pull-right">
                 <h4 >Connect with US</h4>
                 <img src="http://www.anac.on.ca/images/facebook_icon.gif" width="50px"/>
                 <img src="http://www.tourismwhitsundays.com.au/Portals/0/images/Logos/Twitter%20icon%20peel%20over.png" width="55px"/>
                 <img src="http://www.redstarresume.com.au/uploads/images/thumbs/Building_your_Linkedin_Profile_with_Resume_Writing_Service.jpeg" width="50px"/>
            </div>
        </div>
   </div>
<div id="footer">
     Copyright nature-beauty.apphb.com 2013
</div>
</div>
</body>
</html>