<body>
    <div class="container">
        <a class="brand" href="#"> <img src="http://i954.photobucket.com/albums/ae22/katieolsonprice/PA%20Buttons/200x100-noback.png" /></a>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                </ul>
            </div>
        </div>